h1 {
    text-align: center;
    background-color: rgb(196, 169, 52);
}
.h3text1 {
    
text-align: center;
background-color: brown;
color: rgb(0, 255, 0);
    
}
.h3text2 {
    position: absolute;
    left: 40%;
    top: 9%;
    color: blue;
}
.h3text3 {
    position: absolute;
    top: 9%;
    left: 56%;
    color: blue;

}
article div p {
width: 50%;

}
p {
padding-left: 25%;
text-align: center;
}
.bixo {
    width: 15%;
    position: absolute;
    top: 18%;
    left: 43%;
    border-radius: 5px;
}