h1 {
    text-align: center;
}
.first {
  display: block;
  margin-left: 500px;
}
.second {
    display: block;
    margin-left: 300px;
}
.third {
    display: block;
    margin-left: 600px;
    margin-top: -50px;
}
section {
    text-align: center;
}
li {
    display: inline;
}
