/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */


 
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
  }
  
  article {
  
  }
  
  h1 {
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (max-width: 600px) {
   h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: aqua;
    border-radius: 20px;
    padding: 0%;
    
   }
    article {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    img {
        display: flex;
        width: 600px;
        padding: 15px;
        
        
    }
    h2 {
        font-size: 20px;
        text-align: left;
        text-decoration: underline;
    }
    figcaption {
        text-align: center;
        font-size: larger;
    }
    body {
        margin: 10px;
    }
  }